.layout
{
    display: flex;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.content
{
   width: 85%;
    position: absolute;
    right: 0;
    border: 2px solid black;
    height: 100%;
    overflow: auto;
    padding: 10px;
}
@media (max-width:1400px) {
    .content{
            width: 82%;
    }
}
@media (max-width:1200px) {
    .content{
            width: 75%;
    }
}
@media (max-width:900px) {
    .content{
            width: 70%;
    }
}
@media (max-width:700px) {
    .content{
            width: 65%;
    }
}
@media (max-width:650px) {
    .content{
            width: 60%;
    }
}