.header
{
    display: flex;
    align-items: center;
    padding: 15px 100px;
    background-color: black;
    color: white;
    justify-content: space-around;
}
.menu
{
    display: flex;
    
    gap:20px;
    font-size: large;
}
.nav
{
    color:white;
    text-decoration: none;
}